
/* --- External libraries --- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600&display=swap');

/* --- Components design --- */
@import url('components/banner.css');
@import url('components/button.css');
@import url('components/tag.css');
@import url('components/svg.css');

/* --- Pages design --- */
@import url('pages/home.css');

:root {
  --black: #142026;
  --white: #F9FAFB;
  --grey:  #E5E7EB;
  --dark-grey:  #6B7280;
  --xs: 0;
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: var(--black);
  background-color: var(--white);
  font-weight: 400;
  font-size:  16px;
}

a {
  text-decoration: none;
}

.text-center {
  text-align:  center;
}
