
/* --- External libraries --- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600&display=swap');

/* --- Components design --- */
@import url('components/banner.css');
@import url('components/button.css');
@import url('components/tag.css');
@import url('components/svg.css');
@import url('components/navbar.css');

/* --- Pages design --- */
@import url('pages/home.css');

:root {
  --black: #142026;
  --white: #F9FAFB;
  --grey:  #E5E7EB;
  --dark-grey:  #6B7280;
  --xs: 0;
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px;
  --gutter:  2em;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: var(--black);
  background-color: var(--white);
  font-weight: 400;
  font-size:  16px;
}

p {
  line-height:  1.8em;
}

a {
  text-decoration: none;
}

h2 {
  font-weight: 600;
  font-size: 2em;
}

.text-center {
  text-align:  center;
}

.wrapper-black {
  background-color: var(--black);
}

.list-inline {
  list-style:  none;
  padding-left:  0;
}

.list-inline > li {
  display:  inline-block;
  padding:  0 var(--gutter);
}

.box-shadowed {
  box-shadow: 0px 4px 30px rgba(0,0,0,0.07);
}
