.banner {
  color: white;
  height: 95vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  background-size: cover;
  background-position: center;
}

.banner-content {
  padding-left: var(--gutter);
}

.banner h1 {
  font-weight: 700;
  font-size: 4em;
  margin-top: .4em;
}

.banner p {
  font-size: 1.8em;
  font-weight: 600;
  margin: 1.5em 0;
}
