.introduction {
  position: relative;
  overflow: hidden;
}
.introduction-content {
  width: 900px;
  margin: 6em auto;
}

.introduction-content p {
  font-size: 1.1em;
  color:  var(--dark-grey);
  line-height: 1.8em;
}

.introduction .square-svg {
  position: absolute;
  z-index: -1;
}

.introduction .square-svg:first-child {
  right: 100%;
  transform: translate(50%, 25%);
}

.introduction .square-svg:last-child {
  transform: translate(-50%, -50%);
  left: 100%;
}


@media (max-width:  992px) {
  .introduction-content { width: 80% }
  .introduction .square-svg:first-child { transform: translate(50%, 35%) }
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
  .introduction-content { width: calc(100% - var(--gutter)) }
  .introduction .square-svg { display: none }
}
